* {
  margin: 0;
  padding: 0;
  background: rgb(200, 202, 247);
  font-family: cursive;
}

.title {
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
  margin-bottom: 50px;
}

.input {
  width: 800px;
  margin-top: 50px;
  border-color: #FFFFFF #327CB5 #327CB5 #FFFFFF;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 1px 1px 3px #333333;
  display: block;
  margin: 0 auto;
  padding: 8px;
  font-size: 15px;
}
